#       _           __    _        __  ___
#      (_)__  ___ _/ /__ (_)_ _  _(())/ (_)__  ___ _
#     / / _ \/ _ `/  '_// /  ' \/ _ `/ / / _ \/ _ `/
#  __/ /\___/\_,_/_/\_\/_/_/_/_/\_,_/_/_/_//_/\_, /
# |___/    https://gitlab.com/joakimaling    /___/
#
# /etc/hosts
#

127.0.0.1 localhost {{ inventory_hostname }} {{ inventory_hostname.split('.')[0] }}
::1 localhost {{ inventory_hostname }} {{ inventory_hostname.split('.')[0] }}

::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
{% if hosts is defined %}

{{ hosts }}
{% endif %}
