#       _           __    _        __  ___
#      (_)__  ___ _/ /__ (_)_ _  _(())/ (_)__  ___ _
#     / / _ \/ _ `/  '_// /  ' \/ _ `/ / / _ \/ _ `/
#  __/ /\___/\_,_/_/\_\/_/_/_/_/\_,_/_/_/_//_/\_, /
# |___/    https://gitlab.com/joakimaling    /___/
#
# /etc/pacman.conf
#

[options]
Architecture = auto
CacheDir = /var/cache/pacman/custom/
CacheDir = /var/cache/pacman/pkg/
CheckSpace
CleanMethod = KeepCurrent
Color
HoldPkg = pacman glibc
ILoveCandy
LocalFileSigLevel = Optional
LogFile = /var/log/pacman.log
SigLevel = Required DatabaseOptional

[core]
Include = /etc/pacman.d/mirrorlist

[extra]
Include = /etc/pacman.d/mirrorlist

[community]
Include = /etc/pacman.d/mirrorlist
{% if 'gaming' in context %}

[multilib]
Include = /etc/pacman.d/mirrorlist
{% endif %}
