#       _           __    _        __  ___
#      (_)__  ___ _/ /__ (_)_ _  _(())/ (_)__  ___ _
#     / / _ \/ _ `/  '_// /  ' \/ _ `/ / / _ \/ _ `/
#  __/ /\___/\_,_/_/\_\/_/_/_/_/\_,_/_/_/_//_/\_, /
# |___/    https://gitlab.com/joakimaling    /___/
#
# ~/.ssh/config
#

{% if 'coding' in context %}
Host gitlab.com
  IdentityFile ~/.ssh/gitlab
  PreferredAuthentications publickey

Host linode
  HostName {{ linode_address }}
  IdentityFile ~/.ssh/linode

{% endif %}
{% for hostname in groups['all'] %}
Host {{ hostname | split('.') | first }}
  HostName {{ hostname }}
  User {{ hostvars[hostname]['ansible_user'] }}

{% endfor %}
Host *
  User {{ username }}
